<h1>{{title}}</h1>  <!--index.js에 나와있는 title-->
<ul>
  {{#each users}}
    <li>
        {{ StudentNumber }} / {{ Name }} / {{ Major }} / {{ Class }} / {{ Enrollment }} / {{ Email }}
      </a>
    </li>
  {{/each}}
</ul>